<h3>Novo Cadastro</h3>

<form [formGroup]="formulario" (ngSubmit)="enviarDados()">

  <!-- Campo Nome -->
  <mat-form-field class="field">
    <mat-label for="nome">Nome:</mat-label>
    <input matInput id="nome" type="text" formControlName="nome">

    <!-- Nova sintaxe de controle de fluxo do Angular -->
    @if (formulario.get('nome')?.touched && formulario.get('nome')?.errors?.['required']) {
      <mat-error>O nome é obrigatório.</mat-error>
    }
  </mat-form-field>

  <!-- Campo E-mail -->
  <mat-form-field class="field" appearance="fill">
    <mat-label>E-mail:</mat-label>
    <!-- Adicionado matInput -->
    <input matInput id="email" type="email" formControlName="email">

    @if (formulario.get('email')?.touched && formulario.get('email')?.errors?.['email']) {
      <mat-error>Insira um e-mail válido.</mat-error>
    }
  </mat-form-field>

  <section>
    <div class="submit-button-row">
      <div class="submit-flex-container">
        <button matFab extended type="submit" [disabled]="formulario.invalid">Enviar
        </button>
        <button matFab extended type="reset" class="btn-cancelar">Cancelar
        </button>
      </div>
    </div>
  </section>

</form>
