/* Empilha os blocos um embaixo do outro alinhados à esquerda */
.example-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px; /* Controla o espaçamento vertical entre os campos */
}

/* Define que os dois blocos de input terão exatamente o mesmo tamanho */
.example-container mat-form-field {
  width: 320px; /* Altere este valor para a largura total que desejar */
}

/* Mantém a estilização para esconder as setas do input numérico */
.example-left-align {
  text-align: left;
}

input.example-left-align::-webkit-outer-spin-button,
input.example-left-align::-webkit-inner-spin-button {
  display: none;
}

input.example-left-align {
  -moz-appearance: textfield;
}

section {
  display: flex;
  align-items: center;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Alinha o texto e o ícone usando flexbox */
.btn-icon-right ::ng-deep .mdc-fab__label {
  display: inline-flex !important;
  align-items: center;
}

/* Força o ícone a ir para o final */
.btn-icon-right ::ng-deep .mat-icon {
  order: 2 !important;
  margin-left: 8px;
  margin-right: 0 !important;
}

/* Força o texto a ir para o começo */
.btn-icon-right ::ng-deep .mdc-fab__label text {
  order: 1 !important;
}

/* Caso o texto não mude apenas com o seletor acima, este garante o lado esquerdo */
.btn-icon-right ::ng-deep .mdc-fab__label > :not(.mat-icon) {
  order: 1 !important;
}

.btn-login {
height: 40px!important;
  border-radius: 12px!important;
  padding: 0 16px !important;
  font-size: 13px !important;

  ::ng-deep .mat-icon {
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
  }
}

.alert-error {
  width: 305px;
  color: rgb(190, 0, 0);
  margin-bottom: 15px;
  background: rgb(242, 222, 222);
  padding: 7.5px;
  border-radius: 4px;
}
