.example-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.example-container mat-form-field {
  width: 320px; /* Altere este valor para a largura total que desejar */
}

.example-left-align {
  text-align: left;
}

input.example-left-align::-webkit-outer-spin-button,
input.example-left-align::-webkit-inner-spin-button {
  display: none;
}

input.example-left-align {
  -moz-appearance: textfield;
}

section {
  display: flex;
  align-items: center;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Alinha o texto e o ícone usando flexbox */
.btn-icon-right ::ng-deep .mdc-fab__label {
  display: inline-flex !important;
  align-items: center;
}

/* Força o ícone a ir para o final (direita) */
.btn-icon-right ::ng-deep .mat-icon {
  order: 2 !important;
  margin-left: 8px;
  margin-right: 0 !important;
}

/* Força o texto a ir para o começo (esquerda) */
.btn-icon-right ::ng-deep .mdc-fab__label text {
  order: 1 !important;
}

.btn-icon-right ::ng-deep .mdc-fab__label > :not(.mat-icon) {
  order: 1 !important;
}

/* --- CLASSE DO LOGOUT EM VERMELHO --- */
.btn-logout, .btn-login {
  height: 40px!important;
  border-radius: 12px!important;
  padding: 0 16px !important;
  font-size: 13px !important;

  ::ng-deep .mat-icon {
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
  }

}

.btn-logout {
  background-color: #d32f2f !important;
  color: white !important;

  &:hover {
    background-color: #d75858 !important;
    cursor: pointer;
  }
}
