<div class="main-upload-wrapper">

  <div class="upload-container">
    <label class="upload-box" [class.is-uploading]="isUploading">
      <!-- Input real escondido para fins de acessibilidade e funcionamento -->
      <input #fileInput type="file" class="file-input-native" (change)="onFileSelected($event)" multiple
        [disabled]="isUploading">

      <div class="upload-content-mimic">
        <div class="text-info-wrapper">
          <span class="main-upload-label">Selecionar arquivo</span>
          <span class="current-file-name" [class.file-selected]="fileName">
            {{ fileName || 'Nenhum arquivo selecionado' }}
          </span>
        </div>

        <mat-icon>attach_file</mat-icon>
      </div>
    </label>
  </div>

  <button mat-raised-button type="button" class="btn-submit-upload" color="primary" (click)="onUpload()"
    [disabled]="arquivosSelecionados.length === 0 || isUploading">
    Enviar
  </button>

  @if (isUploading) {
  <div class="material-progress-wrapper bootstrap-style">
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    <span class="progress-label-percent">{{ progress }}%</span>
  </div>
  }

</div>
